.container{
	text-align: center;
}

rect{
	fill:steelblue;
}

.indicator{
	stroke-width:2;
	opacity: 0.8;
}

button{
	margin: 4px;
	border-radius:7px;
	border: none;
	color: white;
	font-size:  14px;
	padding: 8px;
	width: 80px;
}
