div{
	text-align: center;
}

.line{
	stroke:steelblue;
	stroke-width:1.5;
	fill:none;
}

.sinX{
	stroke:steelblue;
	stroke-width:1.5;
	fill:none;
}

circle{
	r:4;
	stroke:steelblue;
	stroke-width:1.5;
	fill:white;
}