div{
	text-align: center;
}

h3{
	font-weight: 200;
	font-style: italic;
}

.line{
	stroke:brown;
	stroke-width:2;
	fill:none;
}

.sinX{
	stroke:steelblue;
	stroke-width:2;
	fill:none;
}

circle{
	r:4;
	stroke:steelblue;
	stroke-width:1;
	fill:white;
}