.container{
	margin: auto;
	text-align: center;
}

h3{
	font-weight: 200;
	font-style: italic;
}

.line{
	stroke:brown;
	stroke-width:2;
	fill:none;
}

.sinLine{
	stroke:steelblue;
	stroke-width:2;
	fill:none;
}

.drop-down{
	width: 200px;
	height: 20px;
	font: 20px;
	font-weight:bolder;
	font-style:italic;
}

circle{
	r:4;
	stroke:steelblue;
	stroke-width:1;
	fill:white;
}

svg{
    margin-top: 2%;
	margin-right: 12%;
	margin-left: 10%;
}
