.container{
	text-align: center;
	color: white;
}

div,button{
	margin: 3px;
	height: 25px;
	border-radius:7px;
}

.sorts,.legend{
	text-align: left;
	color: black;
	padding-bottom: 10px;
}

.legend button{
	border: none;
	color: white;
}

